{% extends "student/student_dashboard.html" %}

{% block content %}
<!-- Title Page -->
<div class="page-title mb-4" style="margin:15px;">
    <!-- Dashboard Title -->
    <h2 style="color: #615EFC; font-weight: bold; margin-right: 20px; padding-left: 50px;">Account</h2>
    <hr style="margin-top: 0; color: black;">
</div>

<div class="container">
    <div class="row">
        <!--SIDEBAR-->
        <div class="col-4 p-0">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="acc-prof-list" data-bs-toggle="list" href="#acc-prof" role="tab" aria-controls="acc-prof">Account Profile</a>
              <a class="list-group-item list-group-item-action" id="acc-security-list" data-bs-toggle="list" href="#acc-security" role="tab" aria-controls="acc-security">Account Security</a>
            </div>
        </div>

        <!--CONTENTS-->
        <div class="class col-8 p-0">
            <div class="tab-content" id="nav-tabContent">
                <!--PROFILE-->
                <div class="tab-pane fade show active" id="acc-prof" role="tabpanel" aria-labelledby="acc-prof-list">
                    <div class="container border rounded">
                        <!--Title-->
                        <div class="page-title mb-4" style="margin: 15px;">
                            <h3 style="color: #615EFC; font-weight: bold; margin-right: 20px; padding-left: 30px;">Account Profile</h3>
                            <hr style="margin-top: 0; color: black;">
                        </div>

                        <div class="container pt-3 pb-3" id="profile">
                            <div class="col-md-4">
                                <label for="inputProfile" class="form-label">Profile</label>
                                <input type="file" name="profile" id="inputProfile" class="form-control" accept="image/*">
                            </div> 
                        </div><!-- PROFILE PICTURE -->

                        <div class="container-fluid">
                            <form class="row g-3" >
                                {% csrf_token %}
                                <fieldset class="col-md-6" disabled>
                                    <label for="inputEmail4" class="form-label">LRN</label>
                                    <input type="text" class="form-control" id="inputEmail4" placeholder='student LRN' value="{{student.student_lrn}}">
                                </fieldset>
                                <fieldset class="col-md-6" disabled>
                                    <label for="inputEmail4" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="inputEmail4" placeholder='student LRN' value="{{student.user}}">
                                </fieldset>
                                <fieldset class="col-md-4" disabled>
                                    <label for="inputsurname" class="form-label">Surname</label>
                                    <input type="text" class="form-control" id="inputsurname" value="{{student.surname}}">
                                </fieldset>
                                <fieldset class="col-md-4" disabled>
                                    <label for="inputname" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="inputname" value="{{student.first_name}}">
                                </fieldset>
                                <fieldset class="col-md-4" disabled>
                                    <label for="inputmiddle" class="form-label">Middle Name</label>
                                    <input type="text" class="form-control" id="inputmiddle" value="{{student.middle_name}}">
                                </fieldset>
                                <fieldset class="col-md-4" disabled>
                                    <label for="inputState" class="form-label">Gender</label>
                                    <input type="text" class="form-control" id="inputgender" value="{{student.gender}}">
                                </fieldset>
                                <fieldset class="col-md-4" disabled>
                                    <label for="inputbirth" class="form-label">Birth Date</label>
                                    <input type="input" class="form-control" id="inputbirthdate" value="{{student.birth_date}}">
                                </fieldset>
                                <fieldset class="col-md-4" disabled>
                                    <label for="inputbirth" class="form-label">Birth Place</label>
                                    <input type="text" class="form-control" id="inputbirthplace" value="{{student.birth_place}}">
                                </fieldset>
                                <fieldset class="col-md-4" disabled>
                                    <label for="inputreligion" class="form-label">Religion</label>
                                    <input type="text" class="form-control" id="inputreligion" value="{{student.religion}}">
                                </fieldset>
                                <fieldset class="col-md-4" disabled>
                                    <label for="inputState" class="form-label">Civil Status</label>
                                    <input type="text" class="form-control" id="inputcontact" value="{{student.civil_status}}">
                                </fieldset>
                                <fieldset class="col-md-4" disabled>
                                    <label for="inputcontact" class="form-label">Contact Number</label>
                                    <input type="text" class="form-control" id="inputcontact" value="{{student.contact}}">
                                </fieldset>
                        
                                <fieldset class="col-md-6" disabled> 
                                    <label for="disabledTextInput" class="form-label">section</label>
                                    <input type="text" id="disabledTextInput" class="form-control" value="{{student.section}}">
                                </fieldset>
                        
                                <fieldset class="col-md-6" disabled>
                                    <label for="inputemail" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="inputemail" value="{{student.email}}">
                                </fieldset>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <!-- SECURITY-->
                <div class="tab-pane fade" id="acc-security" role="tabpanel" aria-labelledby="acc-security-list">
                    <div class="container border rounded">
                        <!--Title-->
                        <div class="page-title mb-4" style="margin: 15px;">
                            <h3 style="color: #615EFC; font-weight: bold; margin-right: 20px; padding-left: 30px;">Account Security</h3>
                            <hr style="margin-top: 0; color: black;">
                        </div>
                        <!--Contents-->
                        <form class="row g-4 pt-2 p-3 pb-4 justify-content-center">
                            <div class="col-md-10">
                                <label for="inputCurrentPass" class="form-label">Current Password</label>
                                <input type="text" class="form-control" id="inputCurrentPass" placeholder="Enter current password" aria-describedby="New password">
                                <div class="form-text" id="basic-addon4">Please input your currently password correctly.</div>
                            </div>
                            <div class="col-md-10">
                                <label for="inputNewPass" class="form-label">New Password</label>
                                <input type="text" class="form-control" id="inputNewPass" placeholder="Enter new password" aria-describedby="New Password">
                                <div class="form-text" id="basic-addon4">Please input strong password.</div>
                            </div>
                            <div class="col-md-10">
                                <label for="inputNewPass" class="form-label">Confirm New Password</label>
                                <input type="text" class="form-control" id="inputNewPass" placeholder="Enter new confirmed password" aria-describedby="New Password">
                                <div class="form-text" id="basic-addon4">Please enter your new password.</div>
                            </div>
                            <div class="col-12 text-end">
                                <button type="reset" class="btn btn-danger">Reset</button>
                                <button type="submit" class="btn btn-primary">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}