{% extends "faculty_dashboard/faculty_dashboard.html" %}

{% block content %}

<div class="container-fluid border " style="padding: 10px; "> 

    <table class="table table-hover border rounded table-hover" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <thead>
          <tr>
            <th class="table-active" scope="col">Subject</th>
            <th class="table-active" scope="col">First Grading</th>
            <th class="table-active" scope="col">Second Grading</th>
            <th class="table-active" scope="col">Third Grading</th>
            <th class="table-active" scope="col">Fouth Grading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Filipino</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">English</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">Math</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">Science</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">MAPEH</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">ESP</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">TLE</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">AP</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
        </tbody>
      </table>
</div>

{% endblock content %}