{% extends "faculty_dashboard/faculty_dashboard.html" %}

{% block content %}
    <div class="container-fluid" style="width: 100vw; height: 100vh;">

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">SMS Profile</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-setting" type="button" role="tab" aria-controls="nav-setting" aria-selected="false">Setting</button>
            </div>
        </nav>

        <div class="tab-content border rounded" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">    
                {% block profile %}         
                <div class="container-fluid" style="padding: 10px">
                    <div class="row">
                        <form class="row g-3">
                            <div class="col-md-6">
                              <label for="inputEmail4" class="form-label">Surname</label>
                              <input type="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-6">
                              <label for="inputPassword4" class="form-label">Name</label>
                              <input type="password" class="form-control" id="inputPassword4">
                            </div>
                            <div class="col-6">
                              <label for="inputAddress" class="form-label">Role</label>
                              <input type="text" class="form-control" id="inputAddress" placeholder="Barax">
                            </div>
                            <div class="col-6">
                              <label for="inputAddress2" class="form-label">School</label>
                              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                            </div>
                            <div class="col-md-12">
                              <label for="inputCity" class="form-label">Email</label>
                              <input type="text" class="form-control" id="inputCity">
                            </div>
                        </form>
                    </div>
                </div>
                {% endblock profile %}

                
            </div>
        </div>
    </div>
{% endblock content %}

