{% extends "faculty_dashboard/account_setting.html" %}

{% block profile %}
<div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">    
    <div class="container-fluid" style="padding: 10px">
        <div class="row">
            <form class="row g-3">
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Surname</label>
                  <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Name</label>
                  <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-6">
                  <label for="inputAddress" class="form-label">Role</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Barax">
                </div>
                <div class="col-6">
                  <label for="inputAddress2" class="form-label">School</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-md-12">
                  <label for="inputCity" class="form-label">Email</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock profile %}
