{% extends "dashboard/guidance_dashboard.html" %}

{% block content %}

<div class="main border rounded" style="margin: 10px">
    <h3>Section: </h3>
    <h3>Adviser: </h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Subject</th>
            <th scope="col">First Grading</th>
            <th scope="col">Second Grading</th>
            <th scope="col">Third Grading</th>
            <th scope="col">Fouth Grading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Filipino</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">English</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">Math</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">Science</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">MAPEH</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">ESP</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">TLE</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
          <tr>
            <th scope="row">AP</th>
            <td>89</td>
            <td>79</td>
            <td>96</td>
            <td>87</td>
          </tr>
        </tbody>
      </table>
</div>

{% endblock content %}