{% extends "dashboard/guidance_dashboard.html" %}

{% block content %}

<div class="main" style="padding: 10px width: 100vw; height: 100vh" >
    <div class="container"> 
        <div class="dropdown">
            <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sections
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url "sectionOne" %}">Section 1</a></li>
                <li><a class="dropdown-item" href="{% url "sectionTwo" %}">Section 2</a></li>
                <li><a class="dropdown-item" href="{% url "sectionThree" %}">Section 3</a></li>
                <li><a class="dropdown-item" href="{% url "sectionFour" %}">Section 4</a></li>
                <li><a class="dropdown-item" href="{% url "sectionFive" %}">Section 5</a></li>
            </ul>
        </div>

        {% block level %}
        <div class="container border rounded" style="padding: 10px">
            <h4>Grade: Section: </h4>
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col">LRN</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Section</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
              </table>
        </div>
        {% endblock level %}
    </div>
</div>



{% endblock content %}
