{% extends "dashboard/guidance_dashboard.html" %}

{% block content %}

<div class="main" style="padding: 10px width: 100vw; height: 100vh" >
    <div class="container"> 
        <div class="dropdown">
            <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sections
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url "ninesectionOne" %}">Section 1</a></li>
                <li><a class="dropdown-item" href="{% url "ninesectionTwo" %}">Section 2</a></li>
                <li><a class="dropdown-item" href="{% url "ninesectionThree" %}">Section 3</a></li>
                <li><a class="dropdown-item" href="{% url "ninesectionFour" %}">Section 4</a></li>
                <li><a class="dropdown-item" href="{% url "ninesectionFive" %}">Section 5</a></li>
            </ul>
        </div>

        {% block level %}

        {% endblock level %}
    </div>
</div>



{% endblock content %}
