{% extends "faculty/faculty-dashboard.html" %}

{% block content %}

<div class="container-fluid border rounded" style="margin: 5px">

  <table class="table table-hover" >
        <thead>
          <tr>
            <th scope="col">LRN</th>
            <th scope="col">Surname</th>
            <th scope="col">Name</th>
            <th scope="col">Section</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <label for="">Adviser</label>
            <h3>{{adviser.surname}} {{adviser.first_name}}</h3>
            <h4 style='color: #615EFC'>Section: {{adviser.section}}</h4>
            <label for="">students</label>
            {% for advisoryClass in advisoryClass %}
                  <tr>
                    <td>{{advisoryClass.student_lrn}}</td>
                    <td>{{advisoryClass.surname}}</td>
                    <td>{{advisoryClass.first_name}}</td>
                    <td>{{advisoryClass.section}}</td>
                    <td>
                      <button class="btn btn-primary" type="submit" title="Edit"><a href="" style="text-decoration: none; color: inherit" >
                        <i class="bi bi-eye"></i>
                      </a></button>
                    </td>
                  </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}