{% extends "dashboard/dashboard.html" %}

{% block content %}
    <div class=" container-fluid overflow-scroll" style="height: 100vh; overflow-y: hidden;;">

        <div class="container-fluid border rounded" style="margin: 10px; padding: 10px">
            <form >
                <label for="">Personal information</label>
                    <div class="row">
                        <div class="col">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control form-control-lg" id="lastName" placeholder="your last name" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control form-control-lg" id="firstName" placeholder="your first name" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="middleName">First Name</label>
                            <input type="text" class="form-control form-control-lg" id="middleName" placeholder="your middle name" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="suffix">First Name</label>
                            <input type="text" class="form-control form-control-lg" id="suffix" placeholder="suffix" disabled readonly>
                        </div>
                    </div>
                
                <small id="note" class="form-text text-muted">Following information is publicly displayed.</small>
            </form>
        </div>
        
        <div class="container_fluid border rounded" style="margin: 10px; padding: 10px">
            <form >
                <label for="">Personal information</label>
                    <div class="row">
                        <div class="col">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control form-control-lg" id="lastName" placeholder="your last name" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control form-control-lg" id="firstName" placeholder="your first name" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="middleName">First Name</label>
                            <input type="text" class="form-control form-control-lg" id="middleName" placeholder="your middle name" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="suffix">First Name</label>
                            <input type="text" class="form-control form-control-lg" id="suffix" placeholder="suffix" disabled readonly>
                        </div>
                    </div>
                
                <small id="note" class="form-text text-muted">Following information is publicly displayed.</small>
            </form>
        </div>
    
        <div class="container_fluid border rounded" style="margin: 10px; padding: 10px">
            <form >
                <label for="">Personal information</label>
                    <div class="row">
                        <div class="col">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control form-control-lg" id="lastName" placeholder="your last name" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control form-control-lg" id="firstName" placeholder="your first name" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="middleName">First Name</label>
                            <input type="text" class="form-control form-control-lg" id="middleName" placeholder="your middle name" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="suffix">First Name</label>
                            <input type="text" class="form-control form-control-lg" id="suffix" placeholder="suffix" disabled readonly>
                        </div>
                    </div>
                
                <small id="note" class="form-text text-muted">Following information is publicly displayed.</small>
            </form>
        </div>
    </div>



{% endblock content %}
