
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}">
    <link rel="stylesheet" href="{% static "css\admin.css" %}">
    <script src="{% static 'js/sidebar.js' defer %}"></script>
    <link rel="shortcut icon" href="{% static "img/nobg.png" %}" type="image/x-icon">
  </head>
  <body>
    <div class="d-flex" id="wrapper" style="width: 100vw; height: 100vh;">
      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light border-bottom p-1" style='background-color: #615EFC;'>
          <div class="container-fluid">
            <a href="{% url "student" %}" rel="noopener noreferrer"><img src="{% static "img/nobg.png" %}" alt="Logo" width="38" height="38"></a>
            <div class="ms-2 d-none d-md-block">
              <span style="font-size: large; font-weight: bold; color: white;">St. Vincent Institute of Technology</span><br>
              <p style="font-size: 15px; margin: 0; color: white; letter-spacing: 1px;">Student Management System</p>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="d-md-none ms-2 mb-2">
                    <h1 style="font-size: large; font-weight: bold; color: white; text-align: center; padding: 0; margin: 0;">St. Vincent Institute of Technology</h1><br>
                    <p style="font-size: 15px; margin: 0; color: white; text-align: center">Student Management System</p>
                  </div>
                  <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                      <li class="nav-item active"><a class="nav-link" href="{% url "home" %}" style="color: white">
                        <i class="bi bi-bar-chart"></i> Dashboard
                      </a></li>
                      
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color: white'>
                            <i class="bi bi-person-lines-fill"></i> Classes
                          </a>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url "classes" %}">Grade 7</a>
                              <a class="dropdown-item" href="">Grade 8</a>
                              <a class="dropdown-item" href="">Grade 9</a>
                              <a class="dropdown-item" href="">Grade 10</a>
                          </div>
                      </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color: white'>
                          <i class="bi bi-clipboard2-data"></i> Records
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url "record" %}">Academic Record</a>
                          <a class="dropdown-item" href="{% url "anecdotalrecord" %}">Anecdotal Record</a>
                          <a class="dropdown-item" href="">Attendance Record</a>
                          <a class="dropdown-item" href="{% url "financ" %}">Financial Record</a>
                        </div>
                      </li>

                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color: white'>
                            <i class="bi bi-person-lines-fill"></i> Users Lists
                          </a>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url "student_list" %}">Students</a>
                              <a class="dropdown-item" href="{% url "faculty_list" %}">Faculty</a>
                              <a class="dropdown-item" href="{% url "student_list" %}">Guidance</a>
                              <a class="dropdown-item" href="{% url "student_list" %}">Registrar</a>
                              <a class="dropdown-item" href="{% url "student_list" %}">Admission</a>
                              <a class="dropdown-item" href="{% url "student_list" %}">Admin</a>
                          </div>
                      </li>
                      
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
                            <i class="bi bi-person"></i> Account
                          </a>
                          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#!">
                                <i class="bi bi-person"></i> Profle
                              </a>
                              <a class="dropdown-item" href="#!">
                                <i class="bi bi-gear"></i> Setting
                              </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url "logout" %}">
                                <i class="bi bi-box-arrow-left"></i> Logout
                              </a>
                          </div>
                      </li>
                  </ul>
            </div>
          </div>
        </nav>
        {% block content %}
        <!-- Title Page -->
        <div class="page-title mb-4" style="margin:15px;">
          <h2 style="color: #615EFC; font-weight: bold; margin-right: 20px; padding-left: 50px;">Dashboard</h2>
          <hr style="margin-top: 0; color: black;">
        </div>
          <!-- Page content-->
        <div class="container" style="padding: 10px;">
          <div class="container mb-3 p-5 shadow" style="width: 85vw; height: 30vh; border-radius: 20px; margin-top: 0vh;">
            <h2 class="card-title" style="font-weight: bold;">Announcement</h2>
            <hr>
            <h5>Titile: {{announcement.title}}</h5>
            <h6>{{announcement.body}}</h6>
          </div>
  
          {% comment %} cards {% endcomment %}
  
        <!-- Bottom Cards -->
        <div class="container" id="container-card" style="color: white;">
          <div class="row d-flex justify-content-end align-items-stretch" style="width: max;">
              <!-- Left Card -->
              <div class="col-lg-6 col-md-12 mb-5 d-flex">
                  <div class="card p-2 shadow w-100 h-100" style="border-radius: 20px;">
                      <div class="card-body text-start" style="padding-left: 3vw;">
                          <h3 class="card-title" style="color: #615EFC; font-weight: bold;">Hello,</h3>
                          <p class="card-text">Welcome to Student Management System</p>
                          <p class="card-text">ADMIN</p>
                      </div>
                      <div class="d-grid gap-2 p-3">
                        <a href="{% url 'student-profile' %}" role='btn' class="btn btn-primary" style="text-decoration: none; color: white;">
                            <i class="bi bi-eye"></i> View
                        </a>
                    </div>
                  </div>
              </div>
              <!-- Right Card -->
              <div class="col-lg-6 col-md-12 mb-5 d-flex">
                  <div class="card p-2 shadow w-100" style="border-radius: 20px;">
                      <div class="card-body text-start" style="padding-left: 3vw; padding-top: 3vh;">
                          <br>
                          <h4>See the list of</h4>
                          <h2 class="card-title" style="font-weight: bold; color: black;">
                            <a href="">Classes</a>, <a href="">Records</a>, and <a href="">Users</a>
                          </h2><br>
                          <p class="card-text" style="font-size: small; font-weight: normal; color:#615EFC;">School Year 2024-2025</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        

        {% endblock content %}
      </div>
    </div>
    
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
