{% extends "admin/admin_dashboard.html" %}


{% block content %}
<!-- Title Page -->
<div class="page-title mb-4" style="margin:15px;">
  <h2 style="color: #615EFC; font-weight: bold; margin-right: 20px; padding-left: 50px;">Classes</h2>
  <hr style="margin-top: 0; color: black;">
</div>

<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Genesis</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Judges</button>
    </li>
  </ul>

  {% comment %} content tab {% endcomment %}
  {% csrf_token %}
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div class="container-fluid border rounded" style="padding: 20px">
        <div class="row g-3">
          <div class="col-md-4">
              <label for="">Adviser:</label>
              <h3>{{adviser.username}}</h3>
          </div>
          <div class="col-md-4">
              <label for="">Section:</label>
              <h3>{{adviser.section}}</h3>
          </div>
          <div class="col-md-4">
              <label for="">Student Count:</label>
              <h3><!-- palagay kung ilan yung total ng students sa section --></h3>
          </div>
        </div>
      
        <label for="">Student List</label>
        <table class="table table-hover" >
            <thead>
              <tr>
                <th scope="col">LRN</th>
                <th scope="col">Surname</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for adviser in adviser %}
                      
                {% endfor %}
            </tbody>
        </table>
      </div>    
    </div>


    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class="container-fluid border rounded" style="padding: 20px">
        <div class="row g-3">
          <div class="col-md-4">
            <label for="">Adviser:</label>
            <h3>{{adviser.username}}</h3>
          </div>
          <div class="col-md-4">
              <label for="">Section:</label>
              <h3>{{adviser.section}}</h3>
          </div>
          <div class="col-md-4">
              <label for="">Student Count:</label>
              <h3><!-- palagay kung ilan yung total ng students sa section --></h3>
          </div>
        </div>
      
        <label for="">Student List</label>
        <table class="table table-hover" >
            <thead>
              <tr>
                <th scope="col">LRN</th>
                <th scope="col">Surname</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for adviser in adviser %}
                      
                {% endfor %}
            </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>


{% endblock content %}





