{% extends "admin/admin_dashboard.html" %}

{% block content %}
    <div class="container">
        <form name='add' method="post" action="{% url "update" %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="" class="form-label">Title</label>
                <input type="text" name='title' class="form-control" value="{{Announcement.title}}">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Body</label>
                <input type="text" name='body' class="form-control" value="{{Announcement.body}}">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}