{% extends "admin/admin_dashboard.html" %}

{% block content %}

<div class="container-fluid border rounded" style="margin: 5px">
  
  <div class="d-grid gap-2 d-md-flex justify-content-md-end" style='margin: 10px'>
    <button type="button" class="btn btn-primary">
      <i class="bi bi-plus-circle"></i> add student
    </button>
  </div>

  <table class="table table-hover" >
        <thead>
          <tr>
            <th scope="col">LRN</th>
            <th scope="col">Surname</th>
            <th scope="col">Name</th>
            <th scope="col">Section</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for i in student %}
                  <tr>
                    <td>{{i.student_lrn}}</td>
                    <td>{{i.surname}}</td>
                    <td>{{i.first_name}}</td>
                    <td>{{i.section}}</td>
                    <td>
                      <button class="btn btn-primary" type="submit" title="Edit"><a href="{% url "student" i.student_lrn %}" style="text-decoration: none; color: inherit" >
                        <i class="bi bi-eye"></i>
                      </a></button>
                    </td>
                  </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}